DEBUG=0

IRC_SERVER=chat.freenode.net
IRC_NICK=
IRC_PASS=
IRC_ADMIN_NICK=
IRC_PUBLIC_CHANNEL=

BOT_NAME="Questionnaire Bot"

USERS_FILE=users.json
QUESTIONS_FILE=questions.json
ANSWERS_FILE=answers.txt

FINAL_MESSAGE="Thank you for filling out today's questionnaire"
RESULTS_START_MESSAGE="{user}'s questionnaire results"

USERS_CAN_START_THERE_OWN_QUESTIONNAIRE=0

COMMAND_INITIALIZER=!q-bot
#A User can get help
COMMAND_HELP=help
#A User can join
COMMAND_JOIN=join
#A User can leave
COMMAND_LEAVE=leave
#An admin can invite a user
ADMIN_COMMAND_INVITE=invite
#An admin can remove a user
ADMIN_COMMAND_KICK=kick
#An admin can list users
ADMIN_COMMAND_USERS=users
#An admin can check who is still pending
ADMIN_COMMAND_PENDING=pending
#An admin can start the quiz
ADMIN_COMMAND_START=start
#An admin can add a question
ADMIN_COMMAND_ADD_QUESTION=add-question