IRC_SERVER=chat.freenode.net
IRC_NICK=
IRC_PASS=
IRC_ADMIN_NICK=
IRC_PUBLIC_CHANNEL=

BOT_NAME="Questionnaire Bot"

USERS_FILE=users.json
QUESTIONS_FILE=questions.json

FINAL_MESSAGE="Thank you for filling out today's questionnaire"
RESULTS_START_MESSAGE="{user}'s questionnaire results"

COMMAND_JOIN=!questionnaire-toggle
COMMAND_START=!questionnaire-start
COMMAND_ADD_QUESTION=!questionnaire-add-question